<mat-grid-list cols="4" rowHeight="1:1.2">
        <div *ngFor="let p of products">
        <mat-grid-tile>
<mat-card class="example-card">
   
    <img mat-card-image src="{{p.img}}">
    <p class="text-center">💲{{p.price}}</p>
    <mat-card-content>
      <p>
       {{p.description}}
      </p>
    </mat-card-content>
    <section>
      <div class="example-button-row">
      <button mat-button color="primary" routerLink="/products" >Back to products</button>
       <button mat-button color="accent"  (click)="addtocart(p)">Add to cart</button>
      </div>
    </section>

</mat-card>
</mat-grid-tile>
</div>
</mat-grid-list>
 


<!-- <div class="cards">
    <div *ngFor="let p of products">
    <div class="card">
        <img src="{{p.img}}" alt="image" class="card_img" />
        <div class="card_content">
            <p >{{p.name}}</p>
            <p >{{p.price}}</p>
        </div>
        <div class="card_info">
            <button class="btn btn-primary" (click)="addtocart(p)">Add to Cart</button>
        </div>
    </div>
</div>
</div> -->

<!-- <div *ngFor="let p of products" class="cards">
    <div class="image">
      <img src="{{p.img}}"/>
    </div>
    <div class="title">
      <h1>{{p.name}}</h1>
    </div>
    <div class="des">
        <p>💲{{p.price}}</p>
        <div class="incre_decre">
          <div>
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle" viewBox="0 0 16 16"  (click)="increment(p)">
              <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
              <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
             </svg>
          </div>
         <h6>{{p.qty}}</h6>
         <div>
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-dash-circle" viewBox="0 0 16 16" (click)="decrement(p)">
                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                <path d="M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8z"/>
              </svg>
        </div>
          
         </div>
         <button class="btn btn-danger" routerLink="/products">Back To Products</button>
        <button (click)="addtocart(p)" class="but">Add To Cart</button>
       
    </div>
</div> -->
